/* about css start */

.heading-sec {
    position: relative;
    z-index: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #141414;
    margin-top: 65px;
}

.inner-headings h2 {
    color: white;
    font-size: 40px;
    padding: 0px 60px;
}

.inner-about-sec {
    padding-top: 70px;
    padding-bottom: 70px;
}

.inner-about-img img {
    width: 100%;
    height: 600px;
}

.inner-about-txt h3 {
    font-family: "Lato";
    color: white;
    padding-bottom: 20px;
    font-size: 57px;
}

.inner-about-txt p {
    color: #c0c0c0;
    font-family: "Lato";
    width: 90%;
    font-size: 18px;
    line-height: 30px;
}

.inner-about-txt {
    padding: 0px 20px;
}

/* about css end */

/* product css start */
.opt-sec-2-main a {
    text-decoration: none;
}

.inner-product-sec {
    background-color: black;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.inner-product-sec .swiper {
    width: 100%;
    height: 100%;
}

.inner-product-sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-product-sec .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner-product-sec .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inner-product-sec .swiper-slide {
    background-size: cover;
    background-position: center;
}

.inner-product-sec .mySwiper2 {
    height: 80%;
    width: 100%;
}

.inner-product-sec .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.inner-product-sec .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.inner-product-sec .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.inner-product-sec .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quantity {
    width: 25%;
    background: none;
    height: 46px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    border: 1px solid #c0c0c0;
    font-family: "AvenirNextLTPro-Regular";
}

input.quantity__input.input-1 {
    padding: 0;
    margin: 0;
    background: none;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    color: #c0c0c0;
}

a.minus-1 {
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 40px;
    align-items: center;
    text-decoration: none;
    color: #c0c0c0;
}

a.plus-1 {
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 35px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: #c0c0c0;
}

a.minus-1 span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

a.plus-1 span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

.inner-product-details h4 {
    color: #c0c0c0;
    font-family: "Lato";
    font-size: 16px;
}

.inner-product-details h2 {
    color: #c0c0c0;
}

.inner-product-details h3 {
    /*color: #c0c0c0;*/
    /*font-family: "Lato";*/
    /*font-size: 24px;*/
    /*margin-top: 30px;*/

    color: #c0c0c0;
    font-family: arial !important;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;

}

.inner-product-details h6 {
    color: #c0c0c0;
    font-family: "Roboto";
    margin-top: 25px;
}

.inner-product-details select {
    background-color: transparent;
    width: 46%;
    color: #c0c0c0;
    border-radius: unset;
    height: 49px !important;
}

.cart-btn a.btn.btn-custom {
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    width: 85%;
    padding: 12px 0px;
    margin-top: 16px;
}

.cart-btn {
    margin-top: 10px;
}

a.btn.btn-custom.white {
    background-color: white;
    color: black;
}

.category h4 {
    color: #c0c0c0;
    font-size: 35px;
}

.category ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.category ul li a {
    color: #c0c0c0;
    font-family: "Lato";
    font-size: 20px;
    text-decoration: none;
}

.category ul li {
    padding-bottom: 5px;
}

/* product css end */

/* blog css start */

.for-inner {
    background-color: black;
}

.opt-sec3-main a {
    text-decoration: none;
}

/* blog css end */

/* blog-inner css start */
.blog-section {
    background-image: url(../images/blog-img.jpg);
    margin-top: 50px;
    width: 100%;
    height: 750px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-working {
    padding: 50px 0 80px 0;
    text-align: center;
    transition: all ease 0.5s;
}

.blog-working p {
    color: white;
    text-align: justify;
    padding-bottom: 35px;
}

.blog-working a {
    background-color: #be1d1f;
    border-radius: 3px;
    padding: 10px 30px;
    color: white;
    transition: all ease 0.5s;
    position: relative;
    z-index: 0;
    text-decoration: none;
}

.blog-working a i {
    padding-right: 5px;
    opacity: 0;
    transition: all ease 0.5s;
    position: absolute;
    left: 7px;
    top: 12px;
}

.blog-working a:hover i {
    opacity: 1;
    transition: all ease 0.5s;
}

/* blog-inner css end */

/* contact-us css start */

.contact-text {
    background-color: #060606;
    padding: 80px 0 100px 0;
}

.lable-txt input::placeholder {
    color: #ffffff;
}

.lable-txt {
    width: 100%;
}

section.contact-text input {
    background: inherit;
    border: 1px solid white;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    color: white;
}

section.contact-text input:hover {
    border: 2px solid white;
}

section.contact-text input:active {
    border: 2px solid white;
}

.lable-txt textarea {
    width: 100%;
    border: 1px solid white;
    background-color: inherit;
    border-radius: 4px;
    padding: 10px;
    color: white;
    height: 150px !important;
}

.lable-txt textarea::placeholder {
    color: white;
}

.lable-txt.gap {
    padding-top: 25px;
}

.lable-anker a {
    background-color: #141414;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    font-weight: 550;
    transition: 0.2s ease-in-out;
}

.lable-anker a:hover {
    background-color: white;
    color: #141414;
}

.lable-anker {
    padding-top: 30px;
}

/* contact-us css end */

/* 3/6/2024  css start */

.inner-producttt {
    margin-top: 50px;
    border-top: 1px solid #c0c0c0;
    padding-top: 50px;
}

.productmain .clicktabs {
    color: #c0c0c0;
    background: transparent;
    border: 2px solid #c0c0c0;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: none;
    border-right: none;
}

.productmain {
    display: flex;
    align-items: center;
    gap: 60px;
}

.contentinfo {
    padding-top: 40px;
}

.cycleinfo p {
    color: #c0c0c0;
    font-weight: 400;
    font-size: 18px;
}

.productmain .clicktabs.active {
    background: #c0c0c0;
    color: black;
    border: none;
}

/* 3/6/2024   css end */

/* 3/13/2024   css start */

.hover-links {
    position: relative;
    z-index: 0;
}

.dropdown-links {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30px;
    background: black;
    width: 200px;
    padding: 20px 0;
    display: none;
}

.dropdown-links ul li a {
    font-family: "Lato";
    font-size: 13px;
}

.dropdown-links ul {
    padding-left: 0;
    list-style: none;
}

.dropdown-links ul li {
    padding: 5px 0;
}

.change_tabs .opt-sec2-img img {
    width: 100%;
}

.news-tabs {
    padding: 50px 0;
}

.change-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}

.change-tabs .clickabel {
    width: 15%;
    height: 45px;
    font-weight: 700;
    color: white;
    font-size: 18px;
    background: #cb1e20;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.change-tabs .clickabel.active {
    background: white;
    color: black;
}

.change-tabs .clickabel:focus {
    outline: none;
}

/* 3/13/2024   css end */

.bikes-inner {
    padding: 50px 0;
}

.cylce-one {
    margin-bottom: 100px;
}

.cylce-one a h5 {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.discription_cylce p {
    color: white;
    font-weight: 600;
    line-height: 30px;
    font-size: 17px;
}

.discription_cylce h6 {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 30px;
}

.date-month h4 {
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.how-recent p a {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.how-recent p {
    width: 60%;
}

.how-recent h5 {
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.how-recent {
    padding: 10px 0;
}

.cylce-one ul {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    list-style: none;
}

.cylce-one ul li p {
    margin: 0;
}

.Freestyle-sec .opt-sec2-text h6 {
    padding-bottom: 0;
}

.Freestyle-sec .opt-sec2-text p {
    font-size: 14px;
}

.history-pg .inner-about-txt h3 {
    font-size: 30px;
}

.history-pg .inner-about-img img {
    height: auto;
}

.recycling-pg .inner-about-img img {
    margin-bottom: 50px;
}

.history-pg .inner-about-txt h4 {
    color: #cb1e20;
    font-size: 15px;
    letter-spacing: 2px;
}

.history-pg .inner-about-txt h5 {
    color: #cb1e20;
    font-size: 15px;
    letter-spacing: 2px;
}

.jobs-pg {
    padding: 50px 0;
}

.job-discription h3 {
    color: white;
    letter-spacing: 1px;
    font-size: 22px;
}

.job-discription h5 {
    color: #cb1e20;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 10px;
}

.job-discription p {
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.job-discription {
    margin-bottom: 60px;
}

.location-job h5 {
    font-family: "Lato";
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 26px;
}

.location-job h5 span {
    font-weight: bold;
}

.location-job p {
    font-family: "Lato";
    color: white;
    font-weight: 300;
    margin-bottom: 17px;
    line-height: 23px;
}

.job-form {
    padding-top: 50px;
}

.job-form h4 {
    font-family: "Lato";
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 26px;
}

.job-form .form-group label {
    font-family: "Lato";
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 26px;
}

.job-form .form-group span {
    font-family: "Lato";
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 26px;
}

.job-form .form-group .form-control {
    height: 50px;
    border-radius: 0;
}

.job-form .form-group #textarea {
    height: unset;
}

.job-form .form-group #file_up {
    height: 120px;
}

.login-form {
    padding: 50px 0;
}

.get-login h5 {
    color: white;
    font-weight: 600;
    font-family: "Roboto";
    margin-bottom: 30px;
}

.back-login {
    padding: 20px 20px;
    background: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

.get-login label {
    color: white;
    font-weight: 500;
    font-size: 13px;
}

.get-login a {
    color: #cb1e20;
    margin-top: 10px;
}

.get-login .btn-bustom {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.back-login label {
    color: black;
}

/* 3/13/2024   css end */

/* 3/14/2024   css start */

.sup-pg h4 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

.sup-pg p {
    color: white;
    line-height: 27px;
    font-size: 18px;
}

.faqs-pg h5 {
    margin: 20px 0;
    color: white;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 18px;
}

.faqs-pg p {
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}

.support-sec {
    padding: 50px 1px;
}

.faqs-pg {
    margin-bottom: 40px;
}

.jd-cycle {
    padding: 50px 0;
}

.main-product ul {
    padding: 30px 10px;
}

.main-product ul h5 {
    color: white;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 600;
    line-height: 27px;
}

.main-product ul h5 span {
    font-size: 14px;
}

.main-product ul p {
    font-size: 15px;
    color: white;
    line-height: 24px;
    font-weight: 400;
}

.main-product ul a {
    font-size: 15px;
    color: white;
    line-height: 24px;
    font-weight: 400;
}

.main-product ul a span {
    font-size: 18px;
    font-weight: bold;
}

.main-product {
    padding-bottom: 20px;
}

.faq-s-pg {
    padding: 50px 0;
}

.faq-one .btn-link {
    width: 100%;
    text-align: start;
    color: black;
}

.faq-one p {
    color: black;
    font-weight: 600;
}

.faq-one ul li {
    padding: 3px 0;
    font-weight: 600;
}

.faq-one ul {
    padding: 20px 0;
}

.faq-one ul li h5 {
    font-weight: bold;
}

.faq-one ul li h4 {
    font-weight: bold;
}

.faq-one img {
    width: 80%;
    height: 500px;
    margin: 20px 0;
}

.terms-policy {
    padding: 50px 0;
}

.policy-main h4 {
    color: #cb1e20;
}

.policy-main p {
    color: white;
    font-weight: 500;
    line-height: 25px;
}

.policy-main ul li {
    padding: 5px 0;
    color: white;
    font-weight: 500;
}

.policy-main ul {
    padding: 0;
    list-style: disc;
}

.policy-main h5 {
    color: #cb1e20;
    font-size: 25px;
    margin: 20px 0;
}

.policy-main h3 {
    color: #cb1e20;
}

.policy-main img {
    margin: 20px 0;
}

/* 3/14/2024   css end */

/* 3/7/2025   css start */


.from-boundry {
    padding: 25px 15px;
    border: 1px solid white;
    border-radius: 15px;
}

.fixed-slides {
    position: sticky;
    top: 20px;
}

.product-cart {
    display: flex;
    align-items: end;
    gap: 15px;
}

.product-img-view {
    width: 25%;
}

.product-cart .custompp {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-cart {
    margin-bottom: 15px;
}

.product-info {
    width: 100%;
}

.custompp a.cut_info {
    margin-left: 10px;
}

.shippment-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shippment-price h4 {
    font-size: 15px;
    margin: 0;
}

/* 3/7/2025  css end */